/* Custom CSS */

/* Map */

div.roommap{
   content:url(http://nhrprbooking.epizy.com/images/nhrpr.png);
   width: 500px; /* you can use % */
   height: auto;
   margin:0px;
   float: left;
}​

/* iPhone*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px)  {
	div.map{
		width: 300px;
	}
}

/* Ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
	div.map{
		width: 300px;
	}
}

@media only screen and (min-device-width : 1024px)  {
	div.map{
		width: 500px;
	}
}

div.map{
   content:url(http://nhrprbooking.epizy.com/images/nhrpr.png);
   width: 33%; /* you can use % */
   height: auto;
   margin:0px;
   float: left;
}​
